.loginScreen {
  position: relative;
  height: 100%;
  background-image: url('https://external-preview.redd.it/B6MrrY-dyD1lnvvrb2BCISx1xQwGx-e7pjm-qeXwAkE.jpg?auto=webp&s=ade83a5a759042ffed5324e5172c9a59a27aaaa9');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.loginScreen__logo {
  position: fixed;
  left: 0;
  top: 20px;
  width: 150px;
  object-fit: contain;
  padding-left: 20px;
}

.loginScreen__gradient {
  width: 100%;
  z-index: 1;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top, 
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.loginScreen__button {
  position: fixed;
  right: 20px;
  top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #8D9EFF;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.loginScreen__body {
  position: absolute;
  top: 30%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
  color: #fff;
  padding: 20px;
}

.loginScreen__body > h1 {
  font-size: 3.125rem;
  margin-bottom: 20px;
}

.loginScreen__body > h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 30px;
}

.loginScreen__body > h3 {
  font-size: 1.3rem;
  font-weight: 400;
}

.loginScreen__input {
  margin: 20px;
}

.loginScreen__input > form > input {
  padding: 10px;
  outline-width: 0;
  height: 30px;
  width: 30%;
  border: none;
  max-width: 600px;
}

.loginScreen__getStarted {
  padding: 16px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #8D9EFF;
  border: none;
  font-weight: 600;
  cursor: pointer;
}